= image_tag @article.user.picture.url(:medium), class: "article-preview-image"

%h1= @article.title

= @article.body_html.html_safe

- unless @article.extended_body.blank?
  <hr/>
  = @article.extended_body_html.html_safe

.clear
= link_to t("edit"), [:edit, :admin, @article]
