= image_tag @resource.user.picture.url(:medium), class: "article-preview-image"

%h1= @resource.title

= @resource.body_processed.html_safe

- unless @resource.extended_body.blank?
  <hr/>
  = @resource.extended_body_processed.html_safe

.clear
= link_to t("edit"), [:edit, :admin, @resource]
