%h1= t("admin.snippets")

= form_for admin_snippets_path, html: {method: :get} do
  = text_field_tag :query, params[:query]
  = submit_tag t('search')

%table.admin-table
  %tr
    %th= t("activemodel.attributes.snippet.name")
    %th
  - @resources.each do |snippet|
    %tr
      %td= snippet.name
      %td
        = link_to t("edit"), [:edit, :admin, snippet]
        = link_to t("delete"), [:admin, snippet], method: "delete"

= link_to t("admin.snippet.new"), [:new, :admin, :snippet]
