!!! 5
%html
  %head
    = csrf_meta_tag
    %title Ichiban CMS Admin Panel
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "admin"

    %script{ :type => "text/javascript", :src => "http://www.google.com/jsapi" }
    %script{ :type => "text/javascript" }
      google.load("jquery", "1.4.2");

    = javascript_include_tag "rails"
    = javascript_include_tag "admin"

  %body
    %header
      = render partial: "layouts/admin/flash_messages"
      #amberbit_link
        = link_to image_tag("amberbit.png"), "http://amberbit.com"
      %h1
        = link_to "Ichiban CMS Admin", admin_path
    #wrapper
      - if current_user
        %aside
          %nav
            %ul
              %li= link_to t("admin.dashboard"), admin_path
              %li= link_to t("admin.articles"), admin_articles_path
              - if current_user.admin?
                %li= link_to t("admin.snippets"), admin_snippets_path
                %li= link_to t("admin.users"), admin_users_path
              %li= link_to t("admin.assets"), admin_assets_path
              %li= link_to t("admin.sign_out"), destroy_user_session_path
      #content
        = yield
    #footer
      = raw "2010 &copy;"
      = link_to "AmberBit", "http://amberbit.com"


